
/* GLOBAL SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* width */
::-webkit-scrollbar {
    width: 1rem;
    background: #454545;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #454545; 
    border-radius: 1rem;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #E100FF; 
    border-radius: 10px;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-boxs;
    font-family: 'Roboto', Arial;
}

:root {
    font-size: 62.5%;
}

html, body {
    color: #6a6768;
    font-size: 1.6rem;
    height: 100vh;
    overflow-x: hidden;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* HEADER CONTENT */

.header {
    padding: 2rem 20rem;
    background: #fefefe;    
    -webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.29);  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 3rem;
    cursor: pointer;
}

.header .logo h1{
    font-family: 'Dancing Script';
    font-weight: 400;
}

.header .navbar a{
    color: #6a6768;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 1rem;
}

.header .navbar a:hover {
    color: #E100FF;
}

.navbar a.menuSelected {
    color: #E100FF;
}

.navbar a.example {
    color: #fefefe;
    background: #E100FF;
    padding: 1rem;
    transition: .5s ease;
}

.navbar a.example:hover {
    color: #fefefe;
    background: #7F00FF;
    border: 1px solid #E100FF;
}

/* MAIN CONTENT */

.mainContainer {
    height: 84vh;
    padding: 2rem 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainTitle {
    color: #fefefe;
    font-size: 7rem;
    width: 65rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #fefefe;
    margin-bottom: 3rem;
}

.mainText {
    color: #eeeeee;
    font-size: 2rem;
    width: 65rem;
}

.mainCta {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 5px;
    width: 30rem;
    height: 8rem;
    margin-top: 5rem;
    background: #fefefe;
    border: 1px solid #454545;
    padding: 1rem;
    transition: .5s ease;
}

.mainCta:hover {
    letter-spacing: 1px;
    color: #fefefe;
    background: #454545;
    border: 1px solid #fefefe;
}

.mainCta i {
    font-size: 0rem;
    transition: .2s ease;
}

.mainCta:hover > i {
    font-size: 2rem;
}

.mainContentImage img {
    width: 70rem;
    cursor: pointer;
}

/* SECTION INTRODUCTION */

.contentIntroduction {
    padding: 5rem 20rem;
    background: #fefefe;
}

.CSS {
    padding: 2rem;
    background: #fefefe;
    margin-bottom: 5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.25);
}

.CSS h1 {
    width: 50%;
    font-size: 3rem;
    border-bottom: 2px solid #7F00FF;
    margin-bottom: 2rem;
}

.CSS p {
    width: 100rem;
    background: #dfdfdf;
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.CSS button {
    font-size: 1.5rem;
    width: 10rem;
    height: 5rem;
    color: #fefefe;
    text-decoration: none;
    background: #45B649;
    border: none;
    margin: 2rem 0rem 6rem;
    cursor: pointer;
    transition: .5s ease;
}

.CSS button:hover {
    background: #248627;
}

.CSS img {
    width: 60rem;
    border-radius: .5rem;
}

.CSS .imgTwo {
    width: 60rem;
    height: 25rem;
    margin-bottom: 4rem;
    margin-right: 1rem;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 20rem;
}

.footer p{
    color: #fefefe;
    font-size: 1.8rem;
}

.footer p:nth-child(2) {
    font-weight: 300;
}